In [2]:
import pandas as pd

import os

In [72]:
path = 'C:\\Users\\JungHyeona\\Documents\\Project\\AI_deeplearning\\image\\test_result.csv'

df = pd.read_csv(path, index_col = 0)

In [73]:
df

                    이미지     분류
0     20220405155226821  False
1     20220405155226821  False
2     20220405155226821  False
3     20220405155226821  False
4     20220405155226821   True
...                 ...    ...
2273  20220405155226821   True
2274  20220405155226821   True
2275  20220405155226821   True
2276  20220405155226821   True
2277  20220405155226821   True

[2278 rows x 2 columns]

In [74]:
# column명 바꾸기
df.rename(columns={'이미지' : 'img_name', '분류' : 'predict'}, inplace=True)

In [7]:
df.columns

Index(['이미지', '분류'], dtype='object')

In [10]:
df.columns

Index(['img_num', 'predict'], dtype='object')

In [67]:
df['predict'].value_counts()

True     2193
False      85
Name: predict, dtype: int64

In [75]:
df.to_csv('C:\\Users\\JungHyeona\\Documents\\Project\\AI_deeplearning\\image\\test_result02.csv', encoding='cp949')

# 기존 데이터 True, False값 저장하기

In [5]:
img_path = 'C:\\Users\\JungHyeona\\Documents\\Project\\AI_deeplearning\\image\\test'

## 이미지 이름 and True, False값 저장하기

In [6]:
images = []
results = []

for test in os.listdir(img_path):
    folder = os.path.join(img_path, test)
    print(folder)
    for file in os.listdir(folder):
        img_file = os.path.join(folder, file)
        
        # 이미지 이름 저장
        if img_file.endswith('.PNG'):
            file = file.split(".")[0]  # 확장자명 외의 값 저장
            images.append(file)
        
        # 폴더 명에 따른 True, False 구분
        if os.path.isfile(img_file):
            if test == 'Normal':
                results.append('True')
            else:
                results.append('False')

C:\Users\JungHyeona\Documents\Project\AI_deeplearning\image\test\Block
C:\Users\JungHyeona\Documents\Project\AI_deeplearning\image\test\Normal
C:\Users\JungHyeona\Documents\Project\AI_deeplearning\image\test\Pattern
C:\Users\JungHyeona\Documents\Project\AI_deeplearning\image\test\Scanline

In [15]:
img = pd.DataFrame(images)
re = pd.DataFrame(results)

In [14]:
len(img)

2278

In [20]:
#re.drop([2278, 2279], axis=0, inplace=True)

len(re)

2278

In [21]:
re

          0
0     False
1     False
2     False
3     False
4     False
...     ...
2273  False
2274  False
2275  False
2276  False
2277  False

[2278 rows x 1 columns]

In [22]:
origin = pd.concat([img, re], axis=1)

In [23]:
len(origin)

2278

In [27]:
origin

                      0      0
0     20220112135223100  False
1     20220112135223950  False
2     20220112135224733  False
3     20220112135227836  False
4     20220112135228589  False
...                 ...    ...
2273  20220405155224749  False
2274  20220405155225268  False
2275  20220405155225782  False
2276  20220405155226293  False
2277  20220405155226821  False

[2278 rows x 2 columns]

In [28]:
origin.columns = ['img_name', 'result']

In [29]:
origin

               img_name result
0     20220112135223100  False
1     20220112135223950  False
2     20220112135224733  False
3     20220112135227836  False
4     20220112135228589  False
...                 ...    ...
2273  20220405155224749  False
2274  20220405155225268  False
2275  20220405155225782  False
2276  20220405155226293  False
2277  20220405155226821  False

[2278 rows x 2 columns]

In [33]:
origin_sort = origin.sort_values('img_name')
origin_sort.to_csv('C:\\Users\\JungHyeona\\Documents\\Project\\AI_deeplearning\\image\\origin_result.csv', encoding='cp949')

# 원래 결과와 예측 결과 csv파일 합치기
### 파일명에 따라서 값 저장할 예정.

In [2]:
import pandas as pd

import os

In [34]:
predict_path = 'C:\\Users\\JungHyeona\\Documents\\Project\\AI_deeplearning\\image\\test_result04.csv'
origin_path = 'C:\\Users\\JungHyeona\\Documents\\Project\\AI_deeplearning\\image\\origin_result.csv'

pre = pd.read_csv(predict_path, index_col = 0, encoding='cp949')
ori = pd.read_csv(origin_path, index_col = 0)

In [45]:
pre

#sort가 되어있지 않아서, sort_values로 sort 후 다시 저장
#pre_sort = pre.sort_values('img_name')

              img_name  predict
0    20220112135223100    False
1    20220112135223950     True
2    20220112135224733     True
3    20220112135227836     True
4    20220112135228589     True
..                 ...      ...
459  20220407143316327     True
460  20220407143318327     True
461  20220407143320615    False
462  20220407143322679    False
463  20220407143324999    False

[2278 rows x 2 columns]

In [44]:
#pd.set_option('display.float_format', '{:.0f}'.format)  ->  2.022E +16을 2022~100과 같이 보일 수 있도록 조정.
ori

#sort가 되어있지 않아서, sort_values로 sort 후 다시 저장
#ori_sort = ori.sort_values('img_name')

              img_name  result
0    20220112135223100   False
1    20220112135223950   False
2    20220112135224733   False
3    20220112135227836   False
4    20220112135228589   False
..                 ...     ...
459  20220407143316327   False
460  20220407143318327   False
461  20220407143320615   False
462  20220407143322679   False
463  20220407143324999   False

[2278 rows x 2 columns]

In [37]:
pre['predict'].value_counts()

True     1881
False     397
Name: predict, dtype: int64

In [38]:
ori['result'].value_counts()

True     1514
False     764
Name: result, dtype: int64

# 두개의 값을 합치기

In [48]:
merge_df = pd.merge(ori, pre, on='img_name', how='right')

In [49]:
merge_df

               img_name  result  predict
0     20220112135223100   False    False
1     20220112135223950   False     True
2     20220112135224733   False     True
3     20220112135227836   False     True
4     20220112135228589   False     True
...                 ...     ...      ...
2355  20220407143316327   False     True
2356  20220407143318327   False     True
2357  20220407143320615   False    False
2358  20220407143322679   False    False
2359  20220407143324999   False    False

[2360 rows x 3 columns]

In [50]:
merge_df['predict'].value_counts()

True     1935
False     425
Name: predict, dtype: int64

In [51]:
merge_df.to_csv('C:\\Users\\JungHyeona\\Documents\\Project\\AI_deeplearning\\image\\result.csv', encoding='cp949')

# 최종 csv파일 불러오기.

In [19]:
result_path = 'C:\\Users\\JungHyeona\\Documents\\Project\\AI_deeplearning\\image\\result.csv'

In [20]:
re = pd.read_csv(result_path, index_col = 0)

In [21]:
re

              img_name  result predict
0     2022011213595468   False    True
1     2022011214000031   False    True
2     2022012115494905   False    True
3     2022012115495094   False    True
4     2022012115495106   False    True
...                ...     ...     ...
2281 20220407143325000   False     NaN
2282               NaN   False     NaN
2283               NaN   False     NaN
2284               NaN   False     NaN
2285               NaN   False     NaN

[2286 rows x 3 columns]

In [22]:
re['predict'].value_counts()

True     601
False     14
Name: predict, dtype: int64